<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Servlet1</display-name>
  <welcome-file-list>
  <welcome-file>manu.html </welcome-file>
  </welcome-file-list>
  <servlet>
  <servlet-name>
  Servlet3
  </servlet-name>
  <servlet-class>
  com.manu.Servlet3
  </servlet-class>
  </servlet>
  <servlet-mapping> 
<servlet-name>Servlet3</servlet-name>
  <url-pattern>
  /ServletPath
  </url-pattern>
   </servlet-mapping>
   
   <servlet>
  <servlet-name>
  InitJSP
  </servlet-name>
  <jsp-file>
  /Initpage.jsp
  </jsp-file>
  <init-param>
  <param-name>Defaultuser</param-name>
  <param-value>default User Name  </param-value>
  </init-param>
  </servlet>
  <servlet-mapping> 
<servlet-name>InitJSP</servlet-name>
  <url-pattern>
  /Initpage.jsp
  </url-pattern>
   </servlet-mapping>
  
  
</web-app>